<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./assets/slick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

  <div class="bg-blue pt-5">
    <div class="container">
      <%- include modules/header.ejs %>
      <%- include modules/menu.ejs %>
      <div class="position-relative">
        <a href="#" class="pic-slider-prev slick-arrow slick-prev"></a>
        <a href="#" class="pic-slider-next slick-arrow slick-next"></a>
        <div class="pic-slider b-radius">
          <div class="pic-block">
            <p class="font-weight-bold fz-txt_52px text-white">
              ВСЕГО В 12 КМ <br>
              ОТ МОСКВЫ
            </p>
            <img class="img-fluid" src="./assets/img/main.png" alt="">
          </div>
          <div class="pic-block">
            <img class="img-fluid" src="./assets/img/main.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-soft search-widget">
    <div class="container">
      <div id="search-widget">Форма виджет</div>
    </div>
  </div>
  <div class="bg-wood py-5">
    <div class="container py-5">
      <p class="font-weight-bold fz-txt_52px">О НАС</p>
      <p class="font-weight-bold fz-txt_22px">Наши преимущества – это близость к Москве и сочетание великолепной природы и комфорта!</p>
      <p>Мы находимся в 12 км от Москвы по Щелковскому шоссе, на берегу двух озер, которые сохранились со времен Ледникового периода.</p>
    </div>
    <%- include modules/actions.ejs %>
  </div>

  <%- include modules/rest.ejs %>
  <%- include modules/rooms.ejs %>
  <%- include modules/cottages.ejs %>
  <%- include modules/footer.ejs %>


</body>
</html>





